/node_modules
*.lock


/assets/fontawesome
/assets/css/tailwind.css
/assets/css/tailwind.min.css
/cpanel.txt
/assets/ts
/App/Controllers/testController.php
/public/index.php

package.json
tailwind.config.js
/assets/src
/assets/ts