#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#ressource du web-frontend
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/(assets)/(.*)
RewriteRule ^assets/(.*)$ assets/$1 [L]

#protection des fichiers sources sensible
RewriteCond %{REQUEST_URI} ^/(App|Views|Core|vendor|public|routes)/.*
RewriteRule ^(App|Views|Core|vendor|public|routes)(.*)$ public/index.php [L]

#tout ce qui n'est pas fichier physique sur le serveur
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]