body{overflow-x:hidden!important}
html{scroll-behavior:smooth}
.primary_bg{background-color:#020613}
.secondary_bg{background-color:#020714}
._green_text{color:#39e293}
._green_btn{color:#050525;background:#32e491;padding:10px;font-weight:500;transition:all ease-in .3s;position:static}
._green_btn:hover{transform:scaleX(100);background:#3ce495;color:#050525;border-radius:3px;transition:all ease-in .3s}
span:not(._green_btn) a:hover{color:#39e293}
.h-landing-3{height:630px}
.pack_title{letter-spacing:3px;font-size:18px;font-weight:500}
._space_text_l3{letter-spacing:2px}
._space_letter_pack{letter-spacing:1.4px}
.button_white_border{border:1px solid #fefefe;padding:10px;font-weight:400;transition:all ease-in .3s;margin:10px 0}
.button_white_border:hover{border-radius:4px;transition:all ease-in .3s}
.button_white_border a:hover{color:#fefefe}
.h-landing{height:calc(100vh - 80px)}
#img_l1{height:500px!important}
@media (max-width:768px){
.h-landing{height:85vh}
#img_l1{height:300px!important}
.hideOverflowOnMobile{overflow:hidden}
}
.heighten{
  padding: 30px;
}
.disc{
  list-style-type:  disc !important;
}
._green_bg{
  background: #32e491;
}