:root{
  --primary:#32e491
}
body{
  overflow-x:hidden!important
}
html{
  scroll-behavior:smooth
}
.primary_bg{
  background-color:#020613
}
.primary_bg_{
  background-color:#262c3054
}
.primary_bg_home{
  background-color:#232c33
}
.secondary_bg{
  background-color:#020714
}
._green_text{
  color:#39e293
}
._green_btn{
  color:#050525;
  background:#32e491;
  padding:10px;
  font-weight:500;
  transition:all ease-in .3s;
  position:static
}
._green_btn:hover{
  transform:scaleX(100);
  background:#3ce495;
  color:#050525;
  border-radius:3px;
  transition:all ease-in .3s
}
span:not(._green_btn) a:hover{
  color:#39e293
}
.h-landing-3{
  height:630px
}
.pack_title{
  letter-spacing:3px;
  font-size:18px;
  font-weight:500
}
._space_text_l3{
  letter-spacing:2px
}
._space_letter_pack{
  letter-spacing:1.4px
}
.button_white_border{
  border:1px solid #fefefe;
  padding:10px;
  font-weight:400;
  transition:all ease-in .3s;
  margin:10px 0
}
.button_white_border:hover{
  border-radius:4px;
  transition:all ease-in .3s
}
.button_white_border a:hover{
  color:#fefefe
}
.h-landing{
  height:calc(100vh - 80px)
}
#img_l1{
  height:500px!important
}
._green_bg{
  background: #32e491;
}
@media (max-width:768px){
  #img_l1{
    height:300px!important
  }
}
.heighten{
  padding: 30px;
}
.disc{
  list-style-type:  disc !important;
}

.forms_btn{
  width: 100%;
  height: 20px;
  background: #32e491;
  color: #050525;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  font-weight: 500;
}
header{
  z-index: 9999 !important;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(226, 226, 226, 0.801);
}

.hide-scroll-bar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.scroll::-webkit-scrollbar-track
{
	background-color: #020613;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #c9c8c8;
}
.scroll::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
}
*::selection{
  background: #32e491;
  color: #020613;
}
.slider[type='range'] {
    -webkit-appearance: none;
    margin: 9px 0;
    width: 100%
}

.slider[type='range']:focus {
    outline: 0
}

.slider[type='range']::-webkit-slider-runnable-track {
    cursor: pointer;
    height: 5px;
    width: 100%;
    background: #32e491;
    border: none
}

.slider[type='range']::-webkit-slider-thumb {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    height: 18px;
    width: 18px;
    -webkit-appearance: none;
    margin-top: -6.5px
}

.slider[type='range']::-moz-range-track {
    cursor: pointer;
    height: 5px;
    width: 100%;
    background: #32e491;
    border: none
}

.slider[type='range']::-moz-range-thumb {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    height: 18px;
    width: 18px
}

.slider[type='range']::-ms-track {
    cursor: pointer;
    height: 5px;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 9px 0;
    color: transparent
}

.slider[type='range']::-ms-fill-lower {
    background: #32e491;
    border: none
}

.slider[type='range']::-ms-fill-upper {
    background: #32e491;
    border: none
}

.slider[type='range']::-ms-thumb {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 0
}


.cropper {
    display: inline-block;
    margin: 0 auto;
}

.cropper canvas {
    border-radius: 3px
}

.cropper canvas:hover {
    cursor: move
}

.cropper-tools {
    margin-top: 15px;
    text-align: center
}

.cropper-zoom {
    display: inline-block
}

.cropper-zoom .slider {
    margin: 0 10px;
    width: 225px
}

.cropper-zoom .icon {
    margin-top: 2px;
    font-size: 18px
}

.cropper-zoom .icon:last-child {
    font-size: 24px
}

.cropper .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: rgba(0, 0, 0, .6);
    vertical-align: middle;
}
@media (min-width:992px) {
  .h-v-85{
    height: 80vh;
  }
  .h-v-70{
    height: 65vh;
  }
}
.h-screen-admin{
  height: 89vh
}
.animate-spin-customer{
  animation: spin-around 3s infinite linear;
}
.animate-spin-customer-reversed{
  animation: spin-around-reversed 3s infinite linear;
}

@keyframes spin-around {
  from{
    transform: rotate(0deg); 
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes spin-around-reversed {
  from{
    transform: rotate(360deg); 
  }
  to{
    transform: rotate(0deg);
  }
}
.h-screen-customer{
  height: calc(100vh - 120px);
}
.h-screen-customer.mobile{
  height: auto;
}